[Unit]
Description=Apery API
After=docker.service
Wants=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
{% if env == 'prod' %}
ExecStartPre=/usr/bin/docker pull perylemke/apery
ExecStart=/usr/bin/docker run --rm -p 80:8080 --name apery perylemke/apery
ExecStop=/usr/bin/docker stop apery
{% elif env == 'staging' %}
ExecStartPre=/usr/bin/docker pull perylemke/apery:staging
ExecStart=/usr/bin/docker run --rm -p 80:8080 --name apery perylemke/apery:staging
ExecStop=/usr/bin/docker stop apery
{% endif %}

[Install]
WantedBy=multi-user.target
